.typewriter p {
  font-weight: 100;
  /* font-size: 1rem; */
  overflow: hidden;
  color: white;
}

.responsive-font {
  font-size: 0.8rem; /* Default font size for extra small and small screens */
  color: white;
}

.typewriter p:nth-child(1) {
  width: 100%;
  animation: type 5s;
}

.typewriter p:nth-child(2) {
  width: 100%;
  opacity: 0;
  animation: type2 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(3) {
  width: 100%;
  opacity: 0;
  animation: type3 5s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(4) {
  width: 100%;
  opacity: 0;
  animation: type4 5s linear;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(5) {
  width: 100%;
  opacity: 0;
  animation: type5 5s linear;
  animation-delay: 15.5s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(6) {
  width: 100%;
  opacity: 0;
  animation: type6 5s linear;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(7) {
  width: 100%;
  opacity: 0;
  animation: type7 5s linear;
  animation-delay: 24s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(8) {
  width: 100%;
  opacity: 0;
  animation: type8 5s linear;
  animation-delay: 29s;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(9) {
  width: 100%;
  opacity: 0;
  animation: type9 5s linear;
  animation-delay: 34s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    /* No specific styles here */
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type6 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type7 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type8 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type9 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .responsive-font {
    font-size: 1rem; /* Font size for medium and larger screens */
  }
}

/* BULLET POINTS BELOW: */

.typewriter li:nth-child(1) {
  width: 100%;
  opacity: 0;
  animation: type10 10s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(2) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(3) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(4) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(5) {
  width: 100%;
  opacity: 0;
  animation: type12 5s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(6) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(7) {
  width: 100%;
  opacity: 0;
  animation: type13 5s linear;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(8) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}
.typewriter li:nth-child(9) {
  width: 100%;
  opacity: 0;
  animation: type14 5s linear;
  animation-delay: 15.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(10) {
  width: 100%;
  opacity: 0;
  animation: type11 5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.typewriter li:nth-child(11) {
  width: 100%;
  opacity: 0;
  animation: type15 5s linear;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}

@keyframes type10 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type11 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type12 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type13 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type14 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type15 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
